<form method='POST'>
    <div>
        <label for='username'>Username</label>
        <input class='form-control' type='username' name='username' placeholder='yourusername' />
    </div>

    <div>
        <label for='password'>Password</label>
        <input class='form-control' type='password' name='password' placeholder='your password' />
    </div>
    <button class='btn btn-primary mt-2' type='submit' >Login </button>
    
</form>
<div class='mt-3'>
<p><a href='/signup'>Do you need an account?</a></p>
</div>