body {
    background-color: black;
  }
  
  
  /* .ranking-page {
    position: absolute;
    width: 500px;
    height: 1000px;
    z-index: 15;
    top: 20%;
    left: 50%;
    margin: -100px 0 0 -150px;
  } */
  
  .navigation-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .movie-data {
    display: flex;
    align-items: center;
  }